@model IEnumerable<GratitudeApp.Talot>

@{
    ViewBag.Title = "City";
}


<div class="taloihin">
    @foreach (var item in Model)
    {


        <img id="@Html.DisplayFor(modelItem => item.tarkeys)talo" src="@Html.DisplayFor(modelItem => item.linkki)" alt="talo-@Html.DisplayFor(modelItem => item.tarkeys)" srcset="">

    }
</div>

