

*{
    margin: 0px;
}

.hero{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('./Huonompi_leikkikaupunki.png');
    background-size: cover;

}


img{
    width: 100%;
}


#talo-1{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0);

    position: inherit;
    top: 400px;
    left: 200px;
}

#talo-2{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0);

    position: inherit;
    top: 360px;
    left: 640px;
}

#talo-3{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0);

    position: inherit;
    top: 520px;
    left: 780px;
}

#talo-4{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0);

    position: inherit;
    top: 440px;
    left: 1000px;
}

#talo-5{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0);

    position: inherit;
    top: 330px;
    left: 1220px;
}